*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}
.gridExample{
    background-color: chocolate;
    padding: 50px 0;
}
.gridExample .gridBox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.gridExample .gridBox .box{
    background-color: white;
    padding: 30px;
}
.gridExample .gridBox .box h3{
        font-size: 40px;
        color: red;
        padding-bottom: 10px;
}

@media (max-width:576px) {
    .gridExample .gridBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (min-width:576px) {
    .gridExample .gridBox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:768px) {
    .gridExample .gridBox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:992px) {
    .gridExample .gridBox{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}